.container{
    margin: 0 150px;
}

.header{
    margin: 15px 0;
}

.items{
    border: 1px solid rgb(219, 202, 202);
    width: 70%;
    height: 280px;
    padding: 10px 30px;
}

.items_header{
    display: flex;
    margin: 10px 0;
}

mat-form-field{
    margin-left: 595px;
}

.book{
    display: flex;
}

.bookinfo{
    margin-left: 30px;
    font-size: 15px;
}

.cost{
    display: flex;
}

.cost s{
    font-size: 10px;
    margin-left: 10px;
}

.quantity{
    font-size: 15px;
    display: flex;
}

.quantity button{
    height: 35px;
    width: 35px;
    border-radius: 70%;
    background-color: #fff;
    border: 1px solid silver;
    font-size: 20px;
}

.quantity input{
    width: 50px;
    height: 35px;
    margin:  0 10px;
    text-align: center;
    border: 1px solid silver;
}

.quantity  p{
    margin: 10px 15px;
    color: rgb(82, 80, 80);
    cursor: pointer;
}

.order{
    float: right;
    background-color: rgb(61, 61, 255);
    color: #fff;
    border: none;
    font-size: 15px;
    height: 30px;
    width: 100px;
    margin-top: 15px;
}

.address{
    color: rgb(82, 80, 80);
    border: 1px solid rgb(219, 202, 202);
    width: 70%;
    height: auto;
    padding: 20px 30px;
    margin: 20px 0;
}

.summary{
    color: rgb(82, 80, 80);
    border: 1px solid rgb(219, 202, 202);
    width: 70%;
    height: auto;
    padding: 20px 30px;
}