.container{
    margin: 0 0 0 150px;
    height: auto;
    padding-bottom: 100px;
}

.container-xs{
    margin-left: 100px;
}

.header{
    margin: 15px 0;
}

.items{
    border: 1px solid rgb(219, 202, 202);
    width: 70%;
    height: auto;
    padding: 10px 30px;
}

.items-xs{
    width: 150%;
    padding: 10px 10px;
}

.items_header{
    display: flex;
    margin: 10px 0;
}

.location{
    margin-left: auto;
}

.location-xs{
    margin-left: 0px;
}

.book{
    display: flex;
    margin-bottom: 20px;
}

.bookinfo{
    margin-left: 30px;
    font-size: 15px;
}

.cost{
    display: flex;
}

.cost s{
    font-size: 10px;
    margin-left: 10px;
}

.quantity{
    font-size: 15px;
    display: flex;
}

.quantity button{
    height: 35px;
    width: 35px;
    border-radius: 70%;
    background-color: #fff;
    border: 1px solid silver;
    font-size: 20px;
}

.quantity input{
    width: 50px;
    height: 35px;
    margin:  0 10px;
    text-align: center;
    border: 1px solid silver;
}

.quantity  p{
    margin: 10px 15px;
    color: rgb(82, 80, 80);
    cursor: pointer;
}

.order{
    margin-left: 800px;
    background-color: rgb(61, 61, 255);
    color: #fff;
    border: none;
    font-size: 15px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}

.order-xs{
    margin-left: 0px;
}

.order-md{
    float:right;
}

.address{
    color: rgb(82, 80, 80);
    border: 1px solid rgb(219, 202, 202);
    width: 70%;
    height: auto;
    padding: 20px 30px;
    margin: 20px 0px;
}

.address-xs{
    width: 150%;
}

.customeraddress{
    margin-bottom: 40px;
}

.customerHeader{
    display: flex;
    margin-bottom: 20px;
}

.customerHeader button{
    margin-left: auto;
    color: #A03037;
    background-color: #fff;
    border: 2px solid #A03037;
    border-radius: 2px;
    padding: 0 10px;
}

.details{
    display: flex;
    gap: 10px;
    margin-left: 35px;
}

.details-xs{
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}

.fullName{
    display: flex;
    flex-direction: column;
}

.workAddress{
    margin-left: 35px;
}

.workAddress-xs{
    margin-left: 0px;
}

.optionAddress b{
    padding-right: 10px;
}

.addressInput{
    width: 410px;
    height: 60px;
    color: #857f7f;
    background-color: #f5f3f3;
    border: 1px solid rgb(219, 202, 202);
}

.addressInput-xs{
    width: 100%;
}

.city{
    display: flex;
    gap: 10px;
}

.city-xs{
    display: flex;
    flex-direction: column;
}

/* .city input{
    color: #857f7f;
    background-color: #f5f3f3;
    height: 40px;
    width: 195px;
    padding: 0 5px;
    margin-top: 10px;
} */

.city-xs input{
    width: 100%;
}

.homeAddress{
    margin-top: 10px;
    margin-left: 35px;
}

.homeAddress-xs{
    margin-left: 0px;
}

.homeAddress p{
    color: black;
    font-size: 12px;
}

.continue{
    float: right;
    background-color: rgb(61, 61, 255);
    color: #f5f3f3;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    height: 30px;
    width: 150px;
    margin-top: -10px;
    cursor: pointer;
}

.summary{
    color: rgb(82, 80, 80);
    border: 1px solid rgb(219, 202, 202);
    width: 70%;
    height: auto;
    padding: 20px 30px;
    margin-bottom: 50px;
}

.summary-xs{
    width: 150%;
}

.showSummrey{
    margin-bottom: 40px;
}

.order1{
    float: right;
    background-color: rgb(61, 61, 255);
    color: #f5f3f3;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    height: 30px;
    width: 150px;
    cursor: pointer;

}

.order1-xs{
float: left;
}