<div>
    <div class="container">
        <div class="book">
            <div><img src="../../../assets/education.svg" alt=""></div>
            <div><p style="color: #fff;">Bookstore</p></div>
        </div>
        <div class="filter">
            <div class="seach_icon">
                <img src="../../../assets/search_black_24dp.svg" alt="" class="search_icon">
            </div>
            <div>
                <input placeholder="Search..." style="font-size: 13px; padding-left: 33px;" class="search">
            </div>            
        </div>
        <div class="profile">
            <img src="../../../assets/perm_identity_white_24dp.svg" alt="">
            <p style="font-size: 13px;">Profile</p>
        </div>
        <div class="cart">
            <img src="../../../assets/supermarket.svg" alt="">
            <p style="font-size: 13px;">Cart</p>
        </div>
    </div>
</div>
<router-outlet></router-outlet>