.container{
    display: flex;
    background-color: brown;
}

.container-xs{
    width: 600px;
}

.container-sm{
    width: 960px;
}

.container-md{
    width: 140%;
}

.book{
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-top: 20px;
    cursor: pointer;
}

.book-xs{
    margin-left: 20px;
}

.book-sm{
    margin-left: 30px;
}

.book-md{
    margin-left: 100px;
}

.filter{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 35px;
}

.seach_icon{
    position: absolute;
    margin-left: 35px;
    margin-top: 5px;
    opacity: 0.4;
}

.search{
    margin-left: 30px;
    width: 600px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #fff;
}

.search-xs{
    margin-left: -20px;
    width: 100px;
}

.search-sm{
    margin-left: -20px;
    width: 400px;
}

.profile{
    margin-left: 300px;
    color: #fff;
    margin-top: 15px;
    cursor: pointer;
}

.profile-xs{
    margin-left: 100px;
}

.profile-sm{
    margin-left: 50px;
}

.profile p{
    margin-top: -8px;
    margin-left: -5px;
}

.cart{
    margin-top: 15px;
    margin-left: 100px;
    color: #fff;
    cursor: pointer;
}

.cart img{
    margin-top: 4px;
}

.cart p{
    margin-top: -3px;
    margin-left: -5px;
}