<div>
    <div class="container">
        <div>
            <p>forgotpassword works!</p>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div>
                <p>Enter your email address and we'll send you<br>a link to reset your password</p>
            </div>
            <div class="mail">
                <mat-form-field appearance="outline">
                    <mat-label>Email Id</mat-label>
                    <input matInput placeholder="Email Id" formControlName="userName" >
                    <mat-error>Enter email</mat-error>
                </mat-form-field>
            </div>
        </form>
        <div class="reset">
            <button>Reset Password</button>
        </div>
        <div>
            <a href="../sign-up/sign-up.component.html">CREATE ACCOUNT</a>
        </div>
    </div>
</div>