 <div class="main" fxLayout="column">
  <div class="logo" fxLayout="row" fxHide.xs="true">
    <img src="../../../assets/shopping.png" alt="" style="width: 350px;">
  </div>
  <div fxLayout="row">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="switch">
        <button (click)="go()">Login</button>
        <button>SignUp</button>
        
      </div>
      <hr id="indicator">
      <div fxLayout="column" class="user-name"> 
        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>
          <input matInput placeholder="Full Name" formControlName="fullName">
          <mat-error>Enter first name</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="userName">
          <mat-error>Enter Email</mat-error>
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" [type]="hide ? 'password' :'text'" placeholder="Password" formControlName="password" >
          <mat-error>Enter password</mat-error>
          <i class="material-icons" matSuffix (click)="hide = !hide" style="cursor: pointer;">{{hide ? 'visibility':'visibility_off'}}</i>
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <mat-label>Mobile Number</mat-label>
          <input matInput type="text" placeholder="Mobile Number" formControlName="mobileNumber">
          <mat-error>Enter Mobile Number</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="column">
        <button type="submit" name="" value="Next" id="button">SignUp</button> 
      </div> 
    </form>
  </div>
</div>