.container{
    margin: 0 150px;
}

.container-xs{
    margin: 0 50px;
}

.header{
    margin: 15px 0;
}

.wish_header{
    display: flex;
    border: 1px solid rgb(219, 202, 202);
    width: 70%;
    height: auto;
    padding: 20px 30px;
    background-color: #F5F5F5;
}

.wish_header-xs{
    width: 150%;
}

.wish_header-sm{
    width: 150%;
}

.wish_header-md{
    width: 150%;
}

.book{
    display: flex;
    border: 1px solid rgb(219, 202, 202);
    width: 70%;
    height: auto;
    padding: 30px 30px;
}

.book-xs{
    width: 150%;
}

.book-sm{
    width: 150%;
}

.book-md{
    width: 150%;
}

.bookinfo{
    margin-left: 30px;
    font-size: 15px;
}

.cost{
    display: flex;
}

.cost s{
    font-size: 10px;
    margin-left: 10px;
}


.delete{
    margin-left: auto;
}

.status-xs{
    margin-left: 75px;
}

.status-sm{
    /* margin-left: auto; */
    float: right;
}