<div>
    <div class="container">
        <div class="header">
            <p>Home / My wishlist</p>
        </div>
        <div class="wish_header">
            <p><b>My Wishlist (02)</b></p>
        </div>
        <div class="book">
            <div class="bookImg"><img src="../../../assets/Image 1@2x.png" alt=""></div>
            <div class="bookinfo">
                <div style="font-size: 20px; color: rgb(77, 77, 74); margin-bottom: 5px;">bookname</div>
                <div style="font-size: 14px; color: rgb(187, 187, 183); margin-bottom: 5px;">by author</div>
                <div class="cost">
                    <p><b>Rs.discountPrice</b></p>
                    <p><s>Rs.price</s></p>
                </div>
            </div>
            <div>
                <img src="../../../assets/delete_black_24dp.svg" alt="" class="status" (click)="removeItem()">
            </div>
        </div>
    </div>
</div>