<div class="main" fxLayout="column" ngClass.xs="main-xs">
    <div class="logo" fxLayout="row" fxHide.xs="true" fxHide.sm="true" ngClass.md="logo-md">
      <img src="../../../assets/shopping.png" alt="" style="width: 350px;">
    </div>
    <div fxLayout="row">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="type">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button (click)="admin()" value="admin">Admin</mat-radio-button>
            <mat-radio-button (click)="user()" value="user">User</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="switch">
          <button>Login</button>
          <button (click)="go()">SignUp</button>
        </div>
        <hr id="indicator">
        <div fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>Email Id</mat-label>
            <input matInput placeholder="Email Id" formControlName="userName" >
            <mat-error>Enter email</mat-error>
          </mat-form-field>
        
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" [type]="hide ? 'password' :'text'" placeholder="Password" formControlName="password">
            <mat-error>Enter password</mat-error>
            <i class="material-icons" matSuffix (click)="hide = !hide" style="cursor: pointer;">{{hide ? 'visibility':'visibility_off'}}</i>
          </mat-form-field>

          <a href="">Forgot password?</a>
        </div>
        <div fxLayout="column">
          <button type="submit" name="" value="Next" id="btn">Login</button>  
        </div>
        <div class="or">
          <h2>OR</h2>
        </div>
        <div class="product" fxLayout="row">
          <button id="Facebook">Facebook</button>
          <button id="Google">Google</button>
        </div>
      </form> 
    </div> 
  </div>

  