.orderimg{
    width: 400px;
    height: 300px;
    margin-top: 50px;
    margin-left: 570px;
}
.message{
    text-align: center;
    font-size: 18px;
    color: #696767;
    opacity: 1;
}

table{
    width: 65%;
    margin-left: 240px;
}

table,tr, td {
    border: 1px solid lightgray;
}

th{
    background-color: #fafafa;
}

td{
    background-color: #ffffff;
    padding: 15px 0;
}

.continue{
    margin-top: 40px;
    margin-left: 44%;
    width: 200px;
    height: 40px;
    border-radius: 2px;
    border: none;
    background-color: rgb(61, 61, 255);
    color: #f5f3f3;
    font-size: 15px;
    text-align: center;
    justify-content: center;
}