<div>
    <div>
        <div>
            <button (click)="addBook()">+ Add Book</button>
        </div>
        <table>
            <tr>
              <th>Sr.No</th>
              <th>BookImage</th>
              <th>BookName</th>
              <th>Author</th>
              <th>Description</th>
              <th>Price</th>
              <th>DiscountPrice</th>
              <th>Quantity</th>
              <th>Action</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Image</td>
              <td>malibu</td>
              <td>taylor</td>
              <td>drama</td>
              <td>Rs.1000</td>
              <td>Rs.500</td>
              <td>10</td>
              <td class="action">
                  <span>Update</span>
                  <span>Delete</span>
              </td>
            </tr>
            
          </table>
    </div>
</div>