<div>
    <div class="container" fxLayout="column" ngClass.xs="container-xs">
        <div class="header" fxLayout="row" ngClass.xs="header-xs">
            <p>Home/ <b>Profile</b></p>
            <button class="logout" ngClass.xs="logout-xs" (click)="logout()">Logout</button>
        </div>
        <div class="profileInfo" fxLayout="column">
            <div class="personal">
                <p><b>Personal Details</b></p>
                <p style="color: brown; font-size: 12px; margin-top: 2px;">Edit</p>
            </div>
            <div class="profile">
                <mat-label>Full name</mat-label>
                <input type="text" placeholder="Full name">
            </div>
            
            <div class="profile">
                <mat-label>Email Id</mat-label>
                <input type="text" placeholder="Email Id">    
            </div>

            <div class="profile">
                <mat-label>Password</mat-label>
                <input type="password" placeholder="Full name">
            </div>
            
            <div class="profile">
                <mat-label>Mobile Number</mat-label>
                <input type="text" placeholder="Mobile Number">    
            </div>
        </div>
        <div class="address" fxLayout="column">
            <div class="customerHeader">
                <p style="font-size: 20px;">Address Details</p>
                <button>Add New Address</button>
            </div>
            <div class="workAddress">
                <p class="optionAddress">1.<b>Work</b>Edit</p>
                <p>Address</p>
                <textarea type="text" class="addressInput"></textarea>
                <div class="city">
                    <div class="fullName">
                        <mat-label>city/town</mat-label>
                        <input placeholder="City/State">
                    </div>
                    
                    <div class="fullName">
                        <mat-label>state</mat-label>
                        <input type="text" placeholder="State">    
                    </div>
                </div>
            </div>
            <div class="type" ngClass.xs="type-xs" ngClass.sm="type-sm">
                <p>Type</p>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="home">Home</mat-radio-button>
                    <mat-radio-button value="work">Work</mat-radio-button>
                    <mat-radio-button value="Other">Other</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
</div>