<div class="body" fxLayout="column">
    <div class="container" fxLayout="column" ngClass.sm="container-sm" ngClass.md="container-md">
        <div class="header" fxLayout="row">
            <div class="books_count" fxLayout="row">
                <p id="books" style="font-size: 22px; margin-top: 13px;">Books</p>
                <p id="count" style="font-size: 12px; margin: 16px 0 0 5px;">({{numberOfBooks}} items)</p>
            </div>
            <div class="sort" fxLayout="row">
                <mat-form-field appearance="outline">
                    <mat-label>Sort by relevance</mat-label>
                    <mat-select>
                        <mat-option (click)="low()" value="one">Low</mat-option>
                        <mat-option (click)=" high()" value="two">High</mat-option>
                        <mat-option (click)=" latest()" value="two">Latest</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="books_list" fxLayout="row">
            <div class="book" *ngFor="let book of allBooks | filter:filteredString | paginate: { itemsPerPage: 8, currentPage: page}">
                <div class="book_image" (click)="quickview(book)">
                    <img src="../../../assets/Image 11.png" alt="">
                </div>
                <div class="book_data">
                    <div><b>{{book.bookName}}</b></div>
                    <div>by {{book.author}}</div>
                    <div class="rating">
                        <p style="margin-top: 2px;margin-left: 3px;font-size: 17px;">4.5</p>
                        <img src="../../../assets/white-star-icon-png-11.jpg" alt="" class="star">
                        <p style="color: black; margin-left: 5px; margin-top: 2px;">({{book.quantity}})</p>
                    </div>
                    <div class="cost">
                        <p><b>Rs. {{book.discountPrice}}</b></p>
                        <p style="margin-left: 5px; font-size: 10px;"><s>Rs.{{book.price}}</s></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination" fxLayout="column" fxLayoutAlign="center center">
        <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>
    </div>
</div>