<div>
    <div class="container">
        <div class="header">
            <p>Home/<b>Book(01)</b></p>
        </div>
        <div class="description">
            <div></div>
            <div>
                <div class="book">
                    <img src="../../../assets/Image 11@2x.png" alt="">
                </div>
                <div class="options"> 
                    <div>
                        <button id="bag">ADD TO BAG</button>
                    </div>
                    <div>
                        <button id="wishlist">
                            <mat-icon class="wishlistIcon" style="margin-right: 2px; height: 5px;">favorite</mat-icon>
                            WISHLIST
                        </button>
                    </div>
                </div>
            </div>
            <div class="book_info">
                <div class="book_data">
                    <p>author</p>
                </div>
                <div class="rating">
                    <p>4.5</p>
                    <img src="../../../assets/star_outline_white_24dp.svg" alt="" class="star">
                    <p style="color: black; margin-left: 5px;">10</p>
                </div>
                <div class="cost">
                    <p><b>Rs. 100</b></p>
                    <p style="margin-left: 5px; font-size: 10px;"><s>Rs.100</s></p>
                </div>
                <hr>
                <div>
                    <p>description</p>
                </div>
                <hr>
                <div>
                    <div class="customerfeedback">
                        <span>Customer Feedback</span>
                    </div>
                    <div>
                        <p>Overall Rating</p>
                        <div>
                            <div class="star-widget">
                            
                                <input type="radio" name="rate" id="rate-5" value="5"> 
                                <label for="rate-5" class="fa fa-star"></label>
    
                                <input type="radio" name="rate" id="rate-4"value="4">
                                <label for="rate-4" class="fa fa-star"></label>
    
                                <input type="radio" name="rate" id="rate-3" value="3">
                                <label for="rate-3" class="fa fa-star"></label>
    
                                <input type="radio" name="rate" id="rate-2" value="2">
                                <label for="rate-2" class="fa fa-star"></label>
    
                                <input type="radio" name="rate" id="rate-1" value="1">
                                <label for="rate-1" class="fa fa-star"></label>
                               
                            </div>
                        </div>
        
                    </div>
                    <div>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div>
                        <button>Submit</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>