<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/> -->

<div>
    <div class="container">
        <div class="header">
            <p>Home/<b>Book(01)</b></p>
        </div>
        <div class="description">
            <div></div>
            <div>
                <div class="book">
                    <img src="../../../assets/Image 11@2x.png" alt="">
                </div>
                <div class="options"> 
                    <div>
                        <button id="bag" (click)="addToBag()" *ngIf="showBag">ADD TO BAG</button>
                    </div>

                    <div class="quantity"  *ngIf="showButton">
                        <button type="button" (click)="minus()">-</button>
                        <input type="text" [value]="quantity">
                        <button type="button" (click)="plus()">+</button>
                    </div>

                    <div>
                        <mat-icon class="wishlistIcon">favorite</mat-icon>
                        <button id="wishlist">
                            WISHLIST
                        </button>
                    </div>
                </div>
            </div>
            <div class="book_info">
                <div class="book_data">
                    <div style="font-size: 20px; color: rgb(77, 77, 74); margin-bottom: 5px;"><b>{{bookInfo?.bookName}}</b></div>
                    <div style="font-size: 14px; color: rgb(187, 187, 183); margin-bottom: 5px;">by {{bookInfo?.author}}</div>
                    <div class="rating">
                        4.5
                        <img src="../../../assets/star_outline_white_24dp.svg" alt="" class="star">
                        <p>({{bookInfo?.quantity}})</p>
                    </div>
                    <div class="cost">
                        <p><b>Rs.{{bookInfo?.discountPrice}}</b></p>
                        <p><s>Rs.{{bookInfo?.price}}</s></p>
                    </div>
                </div>
                <hr>
                <div>
                    <ul>
                        <li>Book Detail</li>
                    </ul> 
                </div>
                <div class="book_detail">
                    <p>{{bookInfo ?. description}}</p>
                </div>
                <hr>
                <div>
                    <div class="customerfeedback">
                        <span>Customer Feedback</span>
                    </div>
                    <div class="review_box">
                        <p>Overall Rating</p>
                        <div class="starcontainer">
                            <div class="star-widget">
                              <input type="radio" name="rate" id="rate-5">
                              <label for="rate-5" class="fas fa-star"></label>
                              <input type="radio" name="rate" id="rate-4">
                              <label for="rate-4" class="fas fa-star"></label>
                              <input type="radio" name="rate" id="rate-3">
                              <label for="rate-3" class="fas fa-star"></label>
                              <input type="radio" name="rate" id="rate-2">
                              <label for="rate-2" class="fas fa-star"></label>
                              <input type="radio" name="rate" id="rate-1">
                              <label for="rate-1" class="fas fa-star"></label>
                              <form action="#">
                                <div class="textarea">
                                  <textarea cols="30" placeholder="write your review..."></textarea>
                                </div>
                                <div class="btn">
                                  <button type="submit">Submit</button>
                                </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>